.services-section{
    height: auto;
    background-color: black;
}
.services-h1{
    color: white;
}
.services-div{
background-color: #232526;
}
.icons{
    font-size: 2.5rem;
    color:rgb(41,122,252);
    color: transparent;
  -webkit-background-clip:  text;
    background-image:radial-gradient( rgb(255,255,255),rgb(41,122,252));

}
.icon-ellipse{
    color: white;
    font-size: 3rem;
}



