@import "herosection";
@import "aboutme";
@import "services";
@import "Gallery";
@import "counter";
@import "skills";
@import "Footer";
@import "Footer2";
*{
  margin: 0;
  padding: 0;
} 
h1, h2, h3, h4, h5 ,p{
  font-family: 'Poppins', sans-serif;
}

.para-color{
  color: rgb(185,185,185);
}
.services-h{
  background: -webkit-linear-gradient(#fc5c7d,#6a82fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      }


      .btn {
        flex: 1 1 auto;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
      padding-left: 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
       /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/

        border-radius: 10px;
       }

       .btn:hover {
        background-position: right center; /* change the direction of the change here */
      }
      
      .btn-1 {
        background-color: #232526;
      }
      
      